{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card" style="max-width: 500px; margin: 0 auto;">
    <h2>Create an Account</h2>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <label>Role:</label><br>
        <select name="role">
            <option value="student">Student</option>
            <option value="instructor">Instructor</option>
        </select>
        <br><br>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p style="margin-top: 1rem;">Don't have an account? <a href="{% url 'login' %}">login here</a></p>
</div>
{% endblock %}
