{% extends 'base.html' %}

{% block title %}Instructor Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome, Instructor {{ user.username }}!</h1>
    <br>

    <h2>Menu</h2>
    <ul>
        <li>
            <a class="btn btn-primary" href="{% url 'instructor_quizzes' %}">
                My Quizzes
            </a>
        </li>
        <br>
        <li>
            <a class="btn btn-primary" href="{% url 'create_quiz' %}">
                Create New Quiz
            </a>
        </li>
    </ul>

    <br>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
