{% extends 'base.html' %}

{% block title %}Add Answers{% endblock %}

{% block content %}
<div class="card">
    <h1>Add Answers to Question</h1>
    <hr>

    <p><b>{{ question.question_text }}</b></p>

    <form method="POST">
        {% csrf_token %}
        <label>Answer Text:</label><br>
        <input type="text" name="answer_text" required><br><br>

        <label>Correct Answer:</label>
        <input type="checkbox" name="is_correct"><br><br>

        <button type="submit" class="btn btn-primary">Add Answer</button>
    </form>

    <hr>
    <h2>Existing Answers</h2>

    {% for a in answers %}
        <p>
            {{ a.answer_text }}
            {% if a.is_correct %}
                <b>(Correct)</b>
            {% endif %}
        </p>
    {% empty %}
        <p>No answers yet.</p>
    {% endfor %}

    <br>
    <a href="{% url 'add_question' question.quiz_id %}" class="btn btn-danger">Back to Questions</a>
</div>
{% endblock %}
