{% extends 'base.html' %}

{% block title %}Add Question{% endblock %}

{% block content %}
<div class="card">
    <h1>Add Question to: {{ quiz.title }}</h1>

    <form method="POST">
        {% csrf_token %}

        <label>Question Text:</label><br>
        <textarea name="question_text" required></textarea><br><br>

        <label>Question Type:</label><br>
        <select name="question_type">
            <option value="MCQ">Multiple Choice</option>
            <option value="TF">True/False</option>
            <option value="SA">Short Answer</option>
        </select><br><br>

        <label>Points:</label><br>
        <input type="number" name="points" required><br><br>

        <button type="submit" class="btn btn-primary">Add Question</button>
    </form>

    <hr>

    <h2>Existing Questions</h2>
    {% for q in questions %}
        <p>
            {{ q.question_text }} ({{ q.question_type }})
            — <a href="{% url 'add_answers' q.question_id %}">Add Answers</a>
        </p>
    {% empty %}
        <p>No questions yet.</p>
    {% endfor %}

    <br>
    <a href="{% url 'instructor_quizzes' %}" class="btn btn-danger">Back to Quizzes</a>
</div>
{% endblock %}
