{% extends 'base.html' %}

{% block title %}Available Quizzes{% endblock %}

{% block content %}
<div class="card">
    <h1>Available Quizzes</h1>
    <br>

    {% if quizzes %}
    <table border="1" cellpadding="5">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Action</th>
        </tr>

        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.description }}</td>
            <td>{{ quiz.start_date }}</td>
            <td>{{ quiz.end_date }}</td>
            <td>
                <a href="{% url 'quiz_preview' quiz.quiz_id %}"
                   class="btn btn-danger"
                   style="padding: 5px 10px; font-size: 0.875rem;">Preview Quiz</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No quizzes available right now.</p>
    {% endif %}

    <br>
    <a href="{% url 'student_home' %}" class="btn btn-primary">Dashboard</a>
</div>
{% endblock %}
