{% extends 'base.html' %}

{% block title %}Quizzes{% endblock %}

{% block content %}
    <div class="card">
        <h1>{{ quiz.title }}</h1>
        <br>
        <p>{{ quiz.description }}</p>
        <p>Total Questions: {{ questions|length }}</p>
        <p>Total Points: {{ total_points }}</p>
        <br>
        <a href="/quiz/student/quizzes/{{ quiz.quiz_id }}/start/">
            <button class="btn btn-primary" style="padding: 5px 10px; font-size: 0.875rem;">Start Quiz</button>
        </a>

        <br><br>
        <a href="/quiz/student/quizzes/" class="btn btn-danger" style="padding: 5px 10px; font-size: 0.875rem;">Back</a>
    </div>
{% endblock %}
