{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card">
    <h1>Your Quiz History</h1>
    <br>
    {% if attempts %}
    <table border="1" cellpadding="5">
        <tr>
            <th>Quiz</th>
            <th>Score</th>
            <th>Date</th>
            <th>View</th>
        </tr>

        {% for attempt in attempts %}
        <tr>
            <td>{{ attempt.quiz.title }}</td>
            <td>{{ attempt.score }}</td>
            <td>{{ attempt.submit_time }}</td>
            <td>
                <a href="/quiz/student/attempt/{{ attempt.attempt_id }}/results/" class="btn btn-primary">View</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
        <br>
        <p>No quiz history available right now.</p>
    {% endif %}

    <br>
    <form method="post" action="{% url 'student_home' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Dashboard</button>
    </form>
</div>
{% endblock %}