{% extends 'base.html' %}

{% block title %}Take Quiz{% endblock %}

{% block content %}
<div class="card">
    <h1>Question {{ question_number }} of {{ total_questions }}</h1>

    <p>{{ question.question_text }}</p>
    <br>

    <form method="post">
        {% csrf_token %}

        {% for a in answers %}
            <label>
                <input type="radio" name="answer" value="{{ a.answer_id }}" required>
                {{ a.answer_text }}
            </label><br>
        {% endfor %}
        <br>

        {% if question_number < total_questions %}
            <button type="submit" name="action" value="next" class="btn btn-primary">Next</button>
        {% else %}
            <button type="submit" name="action" value="submit" class="btn btn-primary">Submit Quiz</button>
        {% endif %}
    </form>
</div>
{% endblock %}
