{% extends 'base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome, {{ user.username }}!</h1>
    <br>

    <h2>Menu</h2>
    <ul>
        <li><a class="btn btn-primary" href="{% url 'available_quizzes' %}">Available Quizzes</a></li>
        <br>
        <li><a class="btn btn-primary" href="{% url 'quiz_history' %}">My Quiz History</a></li>
    </ul>

    <br>
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
</div>
{% endblock %}
