{% extends 'base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block content %}
<div class="card">
    <h1>Welcome, {{ user.username }}!</h1>

    <hr style="margin: 2rem 0;">

    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
        <hr style="margin: 2rem 0;">
    {% endif %}



    <h2>Quiz Menu</h2>
    <br>
    <form method="post" action="{% url 'available_quizzes' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">My Quizzes</button>
    </form>
    <form method="post" action="{% url 'quiz_history' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create New Quiz</button>
    </form>


</div>
{% endblock %}